<body>
  
  <div class = "container">
    <center><h1>Curriculum Vitae</h1>
    <h2>Emjey Arce | Web Developer/Desinger</h2></center>
    
    <div class ="left">
    
    <h3>
    <p>My goal is to become associated with a company where I can utilize my skills and 
    further experience while enhancing the company’s 
    productivity and reputation.</p>
    </h3>
    
  
    <h1>Skills</h1>
    <li> Adobe Photoshop </li>
    <li> Adobe After effects </li>
    <li> Adobe Premier Pro </li>
    <li> Html </li>
    <li> CSS </li>
    <li> Javascript </li>
    </div>
</div>
</body> 
<center> <footer><p>All rights reserved 2016</p></footer></center>