body {
  font: Arial, san-serif;
  color: #333;
}

.container {
  width: 600px;
  margin: 15px auto;
  border: 1px solid #000567;
  padding: 20px 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

p {
  font-family: Arial, san-serif;
}

h1 {
  border-bottom: 1px solid #000567;
  padding: 20px 50px;
}

nav li {
  display: inline-block;
}

.left {
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
}
