$font-stack: Arial, san-serif;
$color1:#000567;
$primary-color: #333;
$fontsize:18px;
$border: 1px solid $color1;
$padding: 20px 50px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
body{
  font: $font-stack;
  color:$primary-color;
}
.container
{
  width:600px;
  margin: 15px auto;
  border:$border;
  padding:$padding;
  @include border-radius(10px);
}
p{
  font-family:$font-stack;
}
h1{
  border-bottom:$border;
  padding:$padding;
}
nav {
  li { display: inline-block; }
}
.left{
  	-webkit-columns: 100px 2;
    -moz-columns: 100px 2; 
    columns: 100px 2;
}
